[Desktop Entry]
Version=1.0
Type=Application
Exec=vup_chat
Terminal=false
Name=Vup Chat
Icon=app.vup.Chat
Categories=Chat;Network;
StartupWMClass=Vup-Chat
GenericName=Chat Application
Comment=Bsky messaging with S5 extensions
MimeType=x-scheme-handler/vup-chat;